name: Auto Format

on:
  push:
  pull_request:
    paths-ignore:
      - CHANGELOG.md

jobs:
  call-auto-format:
    uses: d0ugal/promexporter/.github/workflows/exporter-auto-format.yml@v1.14.1
    secrets: inherit
