name: CI

on:
  push:
    branches: [main, 'release-please--branches--main']
  pull_request:
    paths-ignore:
      - CHANGELOG.md

jobs:
  call-ci:
    uses: d0ugal/promexporter/.github/workflows/common/ci.yml@v1.14.0
    with:
      binary_name: ${{ github.event.repository.name }}
      go_version: '1.25.4'
    secrets: inherit
